@font-face {
    font-family: 'streetfont';
    src: url('Act_Of_Rejection.ttf') format('truetype');
}

.character-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    z-index: 9999;
}

.characters {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.character {
    cursor: pointer;
}

.game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#start-game {
    margin-top: 20px;
    font-size: 50px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
    background-image: url("scenary.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    overflow: hidden; /* Prevent scrolling */
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'streetfont', sans-serif;
    color: red;
}

.options {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.option {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    position: relative;
    z-index: 2;
}

.selected-image {
    position: relative;
    z-index: 1;
}

.character-image-large {
    width: 400px;
    height: 850px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.character-image-large img {
    max-width: 100%;
    max-height: 100%;
}

.character-image-large.bison img {
    transform: scaleX(-1);
}

.options .option {
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.round-counter {
    text-align: center;
    font-size: 48px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#game-result {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

.characters-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#playMusic,
#reset-button {
    font-size: 20px;
    margin-top: 5px;
}

#playMusic {
    margin-right: 10px;
}

#reset-button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
}





